/*.navbar-nav li{
	text-align: right !important;
}*/
/*Above code doesn't work with Navbar coz it is a flexbox now and it doesn't apply to it*/

/*Navbar Styling*/

body{
	background: #ff00cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar-brand{
	font-size: 20px;
}
.navbar-nav li{
	font-size: 20px;
	margin-right: 20px;
	color: white !important;
}

.navbar{
	background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav li:hover{
	text-decoration: underline;
}

.navbar .navbar-nav li a{
	color:  whitesmoke !important;
}

/*Carousel Styling*/
.fill{
	/* background-color: rgb(128, 0, 0); */
	

	background-image: url('my-img-removebg.png');
	background-repeat: no-repeat;
    background-position: 70% 30%;
	width: 1670px;
	height: 840px;
	z-index: 20;
}



.main-text {
    color: white;
    position: absolute;
    top: 200px;
    width: 96.6667%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-text h1{
	
	font-size: 150px;
	text-align: left;
}


.carousel-control-prev{
	opacity: 0.025;
	color: white;
}

.carousel-control-next{
	opacity: 0.025;
	color: white;
}

.btn-outline-dark{
	color: white !important;
	border: 1px solid white !important; 
	margin-left: 20px;	
}

.btn-outline-danger{
	color: white  !important;
	border: 1px solid white !important; 
	margin-left: 20px;	
	
}

.btn-outline-danger:hover{
	color: white !important;
	background-color: white !important;
	border: 1px solid white !important; 

	margin-left: 20px;	
	
}

.social-media{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
	z-index: 10;
}

.social-media ul{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
}

.social-media ul li{
	position: relative;
	list-style: none;
	width: 60px;
	height: 60px;
	margin: 0 30px;
	transform: rotate(-30deg) skew(25deg);
	
}

.social-media ul li span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.5s;
	display: flex !important;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 30px !important;
}

.social-media ul li:hover span{
	box-shadow: -1px 1px 1px rgba(0,0,0, .1);
}

.social-media ul li:hover span:nth-child(4){
	transform: translate(40px, -40px);
	opacity: 1;
}
.social-media ul li:hover span:nth-child(3){
	transform: translate(30px, -30px);
	opacity: 0.8;
}
.social-media ul li:hover span:nth-child(2){
	transform: translate(20px, -20px);
	opacity: 0.6;
}

.social-media ul li:hover span:nth-child(1){
	transform: translate(0,0);
	opacity: 0.2;
}

ul li:nth-child(1) span{
	background: #3b5999;
}

ul li:nth-child(2) span{
	background: #55acee;
}

ul li:nth-child(3) span{
	background: #0077B5;
}

ul li:nth-child(4) span{
	background: #e4405f;
}